@import-normalize

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: black;
  font-size: 18px;
}

.box {
  width: 200px;
  height: 200px;
  background: var(--accent);
  background-color: white;
}